{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' http-equiv="refresh">
        <title>IEI TKMCE</title>
        <link rel="icon" href="https://s10.gifyu.com/images/IEI-2.png" type="image/icon type">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="{% static 'css/new_style.css'%}">
    </head>
    <body>
    <div class="message">
        {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
              </div>
              {% endfor %}
              {% endif %}
              </div> 

        <!--  ***************************   navigation bar  *********************************** -->
            <nav>            
                <img class="logo" src="https://s10.gifyu.com/images/IEI-2.png" alt="IEI TKMCE LOGO" loading="lazy">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#classes">Events</a></li>
                    <li><a href="#contact">Contact</a></li>
                    
                </ul>            
            </nav>

        <!--  ***************************   Heading  *********************************** -->
        
        <div class="overlay">
            <div class="heading-text-container">
                <h2>Institution of<br>Engineers (India)</h2>
                <p>"A century of service<br>to the nation"</p>
            </div>            
        </div>

        <!--  ***************************   About Us  *********************************** -->
        <section class="mycontainer" style="margin-left: 40px;"> 
            <div class="about" >
                <h3 class="title ">ABOUT US</h3>            
                <p class="content">
                  Institution of Engineers (India) is the national organization of engineers in India.
                  We are the world's biggest multidisciplinary professional society for engineering and technology.
                  To encourage the progress of engineering and its applications at a student level, we organise numerous seminars, hands-on workshops, and interview preparations depending on student demands.                 
                  We also provide competence certifications, scholarships, honours, and benefactions to people and organisations to improve, develop, and recognise their technical knowledge and practise.
<br>
<br>

                  <a href="{%url 'register'%}" data-toggle="tooltip" data-placement="right" title="Press me for Registration"><button type="button" class="btn btn-success mybtn" style="height: 80px;font-size: 32px;">Register now!</button></a>
            </div>           
        </section>
<br>
        <!--  ***************************   Upcoming Events  *********************************** -->
        <!-- <section class="container"> 
            <div class="about">
        <h3 class="title">UPCOMMING EVENTS</h3> 
        <div class="card-group content">
            <div class="card" style="background: none;">
              <img class="card-img-top" src="https://s10.gifyu.com/images/python.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card" style="background: none;">
              <img class="card-img-top" src="https://s10.gifyu.com/images/python.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card" style="background: none;">
              <img class="card-img-top" src="https://s10.gifyu.com/images/python.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>           
    </section> -->
        <!--  ***************************   Our Team  *********************************** -->
        <section class="mycontainer" style="margin-left: 40px;"> 
          <div class="about" >
              <h3 class="title ">OUR TEAM</h3> 
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card-group">
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;" src="https://s10.gifyu.com/images/salmun.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Vice Chair</h5>
                    <p class="card-text">Muhammed Salmun</p>
                 </div>
                </div>
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;" src="https://s10.gifyu.com/images/arjun.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Secretary</h5>
                    <p class="card-text">Arjun S J</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;" src="https://s10.gifyu.com/images/gauthami.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Treasurer</h5>
                    <p class="card-text">Gouthami S</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-group">
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;" src="https://s10.gifyu.com/images/sarang.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Tech Head</h5>
                    <p class="card-text">Sarang V Asok</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;" src="https://s3.gifyu.com/images/my_image.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Web Master</h5>
                    <p class="card-text">Sooraj T S</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;" src="https://s10.gifyu.com/images/navven-ram.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Design Head</h5>
                    <p class="card-text">Naveen Ram C G</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-group">
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;" src="https://s10.gifyu.com/images/jasmine.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Designer</h5>
                    <p class="card-text">Jasmine Nizar</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" style="max-height: 300px;" src="https://s10.gifyu.com/images/shahan.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">2nd Year Rep</h5>
                    <p class="card-text">Shahan Backer</p>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top"  style="max-height: 300px;"src="https://s10.gifyu.com/images/gopika.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">1st Year Rep</h5>
                    <p class="card-text">Gopika M</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          </div></section>
<nav>
<div class="footer" style="min-height: 100px;">
    <br>
    <div class="row">
        <div class="col">
            <a href="{%url 'admin-page' %}" data-toggle="tooltip" data-placement="right" title="Admin page"><img  src ="https://s10.gifyu.com/images/admin.png" style="height:auto;width:40px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" data-toggle="tooltip" data-placement="right" title="Our Facebook page"><img  src = "https://s10.gifyu.com/images/facebook1472067ea8a0549b.png" style="height:auto;width:40px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/company/iei-cse-tkmce/" data-toggle="tooltip" data-placement="right" title="Our Linkedin Page"><img src = "https://s10.gifyu.com/images/linkedinf4d2708ccb88053d.png" style="height:auto;width:40px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" data-toggle="tooltip" data-placement="right" title="Our Twitter page"><img src = "https://s10.gifyu.com/images/twitterc11ac0bd902c02db.png" style="height:auto;width:40px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/iei_tkmce_eee/" data-toggle="tooltip" data-placement="right" title="Our Instgram page"><img src = "https://s10.gifyu.com/images/instagramb07de8a7a1ef28e3.png" style="height:auto;width:40px;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
        
        <div class="col" style="color:beige;text-align: center;">&copy;Copyright IEI TKMCE 2022-23<br>Made with <img src = "https://s10.gifyu.com/images/heart.png" style="height:auto;width:40px;"> and <img data-toggle="tooltip" data-placement="right" title="Python-It is a programming language" src = "https://s10.gifyu.com/images/python.png" style="height:auto;width:40px;"><br>
        <a href="https://wa.me/916282143473?text=Hello Sooraj!">Get the developer!</a>
        </div>
    </div>
</div>

</nav>
<!-- Footer --><script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>


</html>